In python there are four types of integer datatype

1. Decimal (base 10) - default base
2. Binary (base 2) :- starts with 0 followed by 'b' or 'B' and then 0 to 1
3. Octal (base 8) :- starts with 0 followed by 'o' or 'O' and then 0 to 7
4. Hexadecimal (base 16) :- starts with 0 followed by 'x' or 'X' and then 0 to 9 and 9 onwards A - F for (10 - 15)

The conversions can be made by the following way:

- Binary() :- starts from 2^0 from the right side. going from right to left increase power by 1.
  \
  exa:- 1010 (0 mul 2^0 + 1 mul 2^1 + 0 mul 2^2 + 1 mul 2^3)
- Octal :- starts from 8^0 from the right side. going from right to left increase power by 1.
  \
  exa:- 1567 (7 mul 8^0 + 6 mul 8^1 + 5 mul 8^2 + 1 mul 8^3)
- Hexadecimal :- starts from 16^0 from the right side. going from right to left increase power by 1.
  \
  exa:- AB8F (15 mul 16^0 + 8 mul 16^1 + 11 mul 16^2 + 10 mul 16^3)

In [9]:
0b10101  # Binary
0o1436  # Octal
0xA6BE  # Hexadecimal

42686

To convert from one int data type to another we use special functions like-

- bin() to convert from anything to binary
- oct() to convert anything to octal
- hex() to convert anything to hexadecimal

In [1]:
bin(15)

'0b1111'

In [2]:
oct(15)

'0o17'

In [3]:
bin(0o1110)

'0b1001001000'

In [4]:
bin(0x1234)

'0b1001000110100'

In [10]:
hex(16789)

'0x4195'

In [11]:
5 * 1 + 9 * 16 + 1 * 256 + 4 * 256 * 16

16789

In [3]:
type(1.2e3)

float

In [4]:
type(10 + 2j)

complex

In [21]:
x = 2
y = 2
z = 2
n = 2

In [16]:
for i in range(x):
    print(i)

0

In [22]:
result = [
    [i, j, k]
    for i in range(0, x + 1)
    for j in range(0, y + 1)
    for k in range(0, z + 1)
    if (i + j + k != n)
]
result

[[0, 0, 0],
 [0, 0, 1],
 [0, 1, 0],
 [0, 1, 2],
 [0, 2, 1],
 [0, 2, 2],
 [1, 0, 0],
 [1, 0, 2],
 [1, 1, 1],
 [1, 1, 2],
 [1, 2, 0],
 [1, 2, 1],
 [1, 2, 2],
 [2, 0, 1],
 [2, 0, 2],
 [2, 1, 0],
 [2, 1, 1],
 [2, 1, 2],
 [2, 2, 0],
 [2, 2, 1],
 [2, 2, 2]]

In [76]:
n = int(input())
arr = map(int, input().split())

In [105]:
n = int(input())
arr = map(int, input().split())
num = list(arr)
num.sort(reverse=True)
print(num)
max_ele = max(num)
count_max = num.count(max_ele)
if count_max != 0:
    print(count_max)
    print(num[count_max])

[5, 5, 4, 3, 2, 1]
2
4

In [115]:
students = [
    ["Harry", 37.21],
    ["Berry", 37.21],
    ["Tina", 37.2],
    ["Akriti", 41],
    ["Harsh", 39],
]
for i in students:
    print(i)

['Harry', 37.21]
['Berry', 37.21]
['Tina', 37.2]
['Akriti', 41]
['Harsh', 39]

In [15]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()
query_marks = student_marks[query_name]
avg_marks = (query_marks[0] + query_marks[1] + query_marks[2]) / 3

print(f"{avg_marks:.2f}")

5.00

In [29]:
import numpy as np

n = np.array(list(map(int, input().split())))
arr1 = np.array(list(map(int, input().split())))
arr2 = np.array(list(map(int, input().split())))
# list1 = []
# list2 = []
# for _ in range(n):
#     map(int, input().split())
print(n)
print(arr1)
print(arr2)

# np.array(arr1).mean()

[2 3]
[2 3 4]
[5 6 7]

In [36]:
n = int(input())
output = []
commands = {}
for _ in range(n):
    command_name, *line = input().split()
    values = list(map(int, line))
    commands[command_name] = values
print(commands)
for i in commands:
    if i == "insert":
        output.insert(commands[i][0], commands[i][1])
    elif i == "print":
        print(output)
    elif i == "remove":
        output.remove(commands[i][0])
    if i == "append":
        output.append(commands[i][0])
    elif i == "sort":
        output.sort()
    elif i == "pop":
        output.pop()
    elif i == "reverse":
        output.reverse()
    else:
        print(output)

{'insert': [0, 6], 'print': []}
[6]
[6]
[6]

In [20]:
n = int(input())
output = []
counter = 0

while counter < n:
    command = input().split()
    if command[0] == "insert":
        output.insert(int(command[1]), int(command[2]))
    elif command[0] == "print":
        print(output)
    elif command[0] == "remove":
        output.remove(int(command[1]))
    if command[0] == "append":
        output.append(int(command[1]))
    elif command[0] == "sort":
        output.sort()
    elif command[0] == "pop":
        output.pop()
    elif command[0] == "reverse":
        output.reverse()
    else:
        # print(output)
        pass
    counter = counter + 1

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [29]:
n = int(input())
ele = tuple(input().split())
ele
print(hash(ele))

-4817860820257073654

In [40]:
s = 'HackerRank.com presents "Pythonist 2".'
for i in s:
    print(i)
    if i.capitalize == True:

H
a
c
k
e
r
R
a
n
k
.
c
o
m

p
r
e
s
e
n
t
s

"
P
y
t
h
o
n
i
s
t

2
"
.

['HackerRank.com', 'presents', '"Pythonist', '2".']

In [72]:
s = 'HackerRank.com presents "Pythonist 2".'
n = str()
for i in s:
    if i.isupper():
        n = n + i.lower()
    else:
        n = n + i.upper()

print(str(n))

hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [74]:
line = "this is a string"
line = line.split(" ")
line = "-".join(line)
print(line)

this-is-a-string

In [83]:
def print_full_name(first, last):
    result = "Hello {} {}!".format(first, last)
    return result

In [84]:
first_name = input()
last_name = input()
print_full_name(first_name, last_name)

'Hello Ross Taylor!'

In [25]:
def mutate_string(string, position, character):
    new = string[:position-1] + character + string[position:]
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    return new

In [27]:
def count_substring(string, sub_string):
    count = 0
    for i in range(len(string)):
        if string[i:i + len(sub_string)] == sub_string:
            count +=1
    
    return count

In [34]:
s = "ABCDCDC"
sub = "CDC"
for i in range(len(s)):
    if s[i:i+len(sub)] == sub:
        print(True)
    else:
        print(False)

False
False
True
False
True
False
False

In [8]:
a = input()
print(a.isalnum())
print(a.isalnum())
print(a.isdigit())
print(a.islower())
print(a.isupper())

True
True
False
False
False

In [9]:
str(qA2).islower()

NameError: name 'qA2' is not defined

In [78]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [129]:
def wrap(string, max_widht):

    result = ""
    for i in range(0, len(string),max_widht):
        result += (string[i:i+max_widht]) + '\n'
    
    return result


if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [140]:
N, M = map(int, input().split())
f = 1 
pattern = '.|.'

middle = N//2

for n in range(N):
    if n == middle:
        print('WELCOME'.center(M,'-'))
    else:
        print((f*pattern).center(M,'-'))
        if n<middle-1: f += 2
        elif n>middle: f -= 2

------------.|.------------
---------.|..|..|.---------
------.|..|..|..|..|.------
---.|..|..|..|..|..|..|.---
----------WELCOME----------
---.|..|..|..|..|..|..|.---
------.|..|..|..|..|.------
---------.|..|..|.---------
------------.|.------------

In [103]:
def solve(s):
    s1 = [i.capitalize() for i in s.split(" ")]
    return (" ".join(s1))

In [104]:
solve("nis chal")

'Nis Chal'

In [19]:
n = 
l = []
records = []
for _ in range(n):
    name = input()
    score = float(input())
    l.append([name, score])

print(l)

[['f', 4778.0], ['d', 33.0]]

In [20]:
l1 = set(i[1] for i in l)

In [22]:
l1 = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
l1

[['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2],
 ['Akriti', 41],
 ['Harsh', 39]]

In [36]:
number = 12
l = []
for i in range(1, number+1):
    octal = oct(i).split("o")[-1]
    hexa = hex(i).split("x")[-1].upper()
    binary = bin(i).split("b")[-1]

    l.append((i, octal, hexa, binary))

width = len(binary)
for num, octal, hexa, binary in l:
    print(f"{num:>{width}} {octal:>{width}} {hexa:>{width}} {binary:>{width}}")

   1    1    1    1
   2    2    2   10
   3    3    3   11
   4    4    4  100
   5    5    5  101
   6    6    6  110
   7    7    7  111
   8   10    8 1000
   9   11    9 1001
  10   12    A 1010
  11   13    B 1011
  12   14    C 1100

In [30]:
l

[(17, '21', '11', '10001')]

In [28]:
for num, octal, hexa, binary in l:
    print(f"{num:>{width}} {octal:>{width}}")

  1   1
  2   2
  3   3
  4   4
  5   5

In [9]:
l = [161, 182, 161, 154, 176, 170, 167, 171, 170, 174]
sum(set(l))/len(l)

135.5

In [12]:
sum(set(l))/len(set(l))

169.375

In [5]:
n1 = int(input())
a = set(map(int, input().split()))
n2 = int(input())
b = set(map(int, input().split()))
l1 = sorted(a.difference(b))
l2 = sorted(b.difference(a))
l3 = sorted(set(l1).union(set(l2)))
for i in l3:
    print(i)

{9, 2, 4, 5}
{2, 11, 4, 12}
5
9
11
12

In [20]:
country = set()
n = int(input())
for i in range(n):

    country.add(str(input()))

print(len(country))

2

In [29]:
n = int(input())
s = set(map(int, input().split()))
commands = int(input())
counter = 0

while counter < commands:
    command = input().split()
    if command[0] == 'pop':
        s.pop()
    elif command[0] == 'remove':
        s.remove(int(command[1]))
    elif command[0] == 'discard':
        s.discard(int(command[1]))
    else:
        pass
    counter = counter + 1

print(sum(s))

4

In [28]:
s = {1, 2, 3, 4, 5, 6, 7, 8, 9}
sum(s)

45

In [ ]:
n = int(input())
output = []
counter = 0

while counter < n:
    command = input().split()
    if command[0] == "insert":
        output.insert(int(command[1]), int(command[2]))
    elif command[0] == "print":
        print(output)
    elif command[0] == "remove":
        output.remove(int(command[1]))
    if command[0] == "append":
        output.append(int(command[1]))
    elif command[0] == "sort":
        output.sort()
    elif command[0] == "pop":
        output.pop()
    elif command[0] == "reverse":
        output.reverse()
    else:
        # print(output)
        pass
    counter = counter + 1

In [42]:
from itertools import permutations

string, num = input().split()
result = list(permutations(str(string), r = int(num)))
result.sort()
for i in result:
    print("".join(i))

AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

In [61]:
from itertools import combinations

string, num = input().split()


result1 = list(combinations(str(s), 1))
result2 = list(combinations(str(s), int(num)))
result = result1 + result2
for i in result:
    print("".join(i))

['A', 'C', 'H', 'K']
[
'
A
'
,

'
C
'
,

'
H
'
,

'
K
'
]
['
[A
['
[,
[
['
[C
['
[,
[
['
[H
['
[,
[
['
[K
['
[]
'A
''
',
'
''
'C
''
',
'
''
'H
''
',
'
''
'K
''
']
A'
A,
A
A'
AC
A'
A,
A
A'
AH
A'
A,
A
A'
AK
A'
A]
',
'
''
'C
''
',
'
''
'H
''
',
'
''
'K
''
']
,
,'
,C
,'
,,
,
,'
,H
,'
,,
,
,'
,K
,'
,]
 '
 C
 '
 ,

 '
 H
 '
 ,

 '
 K
 '
 ]
'C
''
',
'
''
'H
''
',
'
''
'K
''
']
C'
C,
C
C'
CH
C'
C,
C
C'
CK
C'
C]
',
'
''
'H
''
',
'
''
'K
''
']
,
,'
,H
,'
,,
,
,'
,K
,'
,]
 '
 H
 '
 ,

 '
 K
 '
 ]
'H
''
',
'
''
'K
''
']
H'
H,
H
H'
HK
H'
H]
',
'
''
'K
''
']
,
,'
,K
,'
,]
 '
 K
 '
 ]
'K
''
']
K'
K]
']

In [ ]:
import os
import win32com.client as win32

image_path = r"D:/converted image/page_1.png"
outlook = win32.Dispatch("Outlook.Application")

mail = outlook.CreateItem(0)
mail.To = "husainm@comsenseconsulting.com"

mail.Subject = "Email with Embedded Image"

# Create an HTML body for the email with the embedded image
html_body = f"""
            <html>
            <body>
            <p>This email contains an embedded image:</p>
            <img src="cid:image1" alt="Embedded Image">
            <img src="cid:image2" alt="Embedded Image">
            </body>
            </html>
"""

mail.HTMLBody = html_body
attachment = mail.Attachments.Add(image_path)

attachment.PropertyAccessor.SetProperty("http://schemas.microsoft.com/mapi/proptag/0x3712001E", "image1")
attachment = mail.Attachments.Add(image_path)
attachment.PropertyAccessor.SetProperty("http://schemas.microsoft.com/mapi/proptag/0x3712001E", "image2")

mail.Send()

print("Email sent successfully!")

In [ ]:
from pdf2image import convert_from_path
from PIL import Image
import os

pdf_file_path = 'D:/to convert/VIU DART.pdf'
poppler_path = r"C:\Program Files\poppler-23.08.0\Library\bin"

# Convert PDF to a list of images
images = convert_from_path(pdf_file_path, poppler_path=poppler_path)

output_directory = r"D:/converted image"
os.makedirs(output_directory, exist_ok=True)

# Save the images in the output directory
for i, image in enumerate(images):
    image.save(os.path.join(output_directory, f"page_{i + 1}.png"), "PNG")

print(f"PDF converted to images and saved in {output_directory} successfully!")

In [ ]:
def convert_pdf_to_image(pdf_path, save_image_path):
    
    try:
        pdf_file_path = pdf_path
        poppler_path = r"C:\Program Files\poppler-23.08.0\Library\bin"


    except Exception as e:
        print(f"Something went wrong {e}")

In [ ]:
def send_email(mail_to, image_path):

    try:
        path = image_path
        outlook = win32.Dispatch("Outlook.Application")

        mail = outlook.CreateItem(0)
        mail.To = mail_to

        mail.Subject = "Email with Embedded Image"

        html_body = f"""
            <html>
            <body>
            <p>This email contains an embedded image:</p>
            <img src="cid:image1" alt="Embedded Image">
            <img src="cid:image2" alt="Embedded Image">
            </body>
            </html>
            """

        mail.HTMLBody = html_body
        attachment = mail.Attachments.Add(image_path)

        attachment.PropertyAccessor.SetProperty("http://schemas.microsoft.com/mapi/proptag/0x3712001E", "image1")
        attachment = mail.Attachments.Add(image_path)
        attachment.PropertyAccessor.SetProperty("http://schemas.microsoft.com/mapi/proptag/0x3712001E", "image2")

        mail.Send()

    except Exception as e:
        print(f"Something went wrong {e}")

In [3]:
import hashlib

def create_unique_customer_id(customer_data):
    # Concatenate the values from multiple columns
    data_to_hash = "".join([str(customer_data[column]) for column in customer_data])
    
    # Create a hash of the concatenated data
    unique_id = hashlib.sha256(data_to_hash.encode()).hexdigest()
    
    return unique_id

# Example customer data with duplicate values
customer1 = {
    "name": "Jane Smith",
    "email": "janesmith@email.com",
    "mobile": "1234567890"
}

customer2 = {
    "name": "Jane Smith",
    "email": "janesmith@email.com",
    "mobile": "1234567890"
}

# Create unique customer IDs
unique_id1 = create_unique_customer_id(customer1)
unique_id2 = create_unique_customer_id(customer2)

print("Unique ID 1:", unique_id1)
print("Unique ID 2:", unique_id2)

Unique ID 1: 485b33ed1cbed3dba7c19e7b71e189669f1d782a7638289e07640727e472868f
Unique ID 2: 485b33ed1cbed3dba7c19e7b71e189669f1d782a7638289e07640727e472868f

In [ ]:
import uuid

def generate_unique_identifier(customer_data):
    # Concatenate the common attributes (mobile, email, name) and any differentiating features
    unique_string = f"{customer_data['mobile']}:{customer_data['email']}:{customer_data['name']}:{customer_data['differentiating_feature']}"

    # Generate a UUID from the combined unique string
    unique_id = uuid.uuid5(uuid.NAMESPACE_DNS, unique_string)

    return unique_id

# Example customer data with common attributes and a differentiating feature
customer1 = {
    'mobile': '123-456-7890',
    'email': 'customer@example.com',
    'name': 'John Doe',
    'differentiating_feature': 'Feature1'
}

customer2 = {
    'mobile': '123-456-7890',
    'email': 'customer@example.com',
    'name': 'John Doe',
    'differentiating_feature': 'Feature2'
}

# Generate unique identifiers for the two customers
unique_id1 = generate_unique_identifier(customer1)
unique_id2 = generate_unique_identifier(customer2)

print(f"Unique ID for Customer 1: {unique_id1}")
print(f"Unique ID for Customer 2: {unique_id2}")

In [3]:
for i in range(1499, 2701):
    if i%7 == 0 and i%5 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [7]:
temp = "45F"
if "C" in temp:
    converted_temp = (int(temp.split("C")[0]))*9/5 + 32 
else:
    converted_temp = ((int(temp.split("F")[0])) - 32)/9 * 5

print(int(converted_temp))

7

In [11]:
import random
target_num, guess_num = random.randint(1, 10), 0
while target_num != guess_num:
    guess_num = int(input('Guess a number between 1 and 10 until you get it right : '))
print('Well guessed!')

Well guessed!

In [32]:
for i in range(0, 5):
    for j in range(i):
        print("* ", end= " ")
    print(" ")

for i in range(5, 0, -1):
    for j in range(i):
        print("* ", end = " ")
    print(" ")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [55]:
a = "abc"
a[::-1]

'cba'

In [56]:
input_word = str(input())

print(input_word[::-1])

cba

In [6]:
from collections import defaultdict

groups = list(map(int, input().split()))
list_A = []
list_B = []

for i in range(groups[0]):
    letters_A = str(input())
    list_A.append(letters_A)

for i in range(groups[1]):
    letters_B = str(input())
    list_B.append(letters_B)

print(list_A)
print(list_B)

['a', 'a', 'b', 'a', 'b']
['a', 'b']

In [2]:
import pandas as pd

In [6]:
list1 = [1,2,3,4,5]
arr = pd.Series(list1)
type(arr)

pandas.core.series.Series

In [11]:
list1 = [1,2,3,4,5]
arr = pd.Series(list1)
l1 = arr.to_list()
print(l1)
print(type(l1))

[1, 2, 3, 4, 5]
<class 'list'>

In [22]:
def series_operations(series1, series2):
    operation = str(input())
    if operation == "add":
        add_result = series1 + series2
        return add_result 

    elif operation == "subtract":
        sub_result = series1-series2
        return sub_result
    
    elif operation == "multiply":
        mul_result = series1*series2
        return mul_result
    
    elif operation == "divide":
        div_result = series1/series2
        return div_result

    else:
        print("operation doesn't exist")    

l1 = [2, 4, 6, 8, 10] 
l2 = [1, 3, 5, 7, 9]

sr1 = pd.Series(l1)
sr2 = pd.Series(l2)

In [25]:
series_operations(sr1, sr2)

operation doesn't exist

In [ ]:
import pandas as pd
a = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(a)
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [3]:
import numpy as np
arr = np.array([10, 20, 30, 40, 50])
print(pd.Series(arr))

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
sr1 = pd.Series([100, 200, "python", 300.12, 400])
print(sr1)
sr2 = pd.to_numeric(sr1, errors = "coerce")
print(sr2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [5]:
data = {"col1" : [1,2,3,4,7,11],
"col2" : [4,5,6,9,5,0],
"col3" : [7,5,8,12,1,11]}

df = pd.DataFrame(data=data)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [6]:
col1 = pd.Series(df["col1"])

In [12]:
test = pd.Series([100,200,"python",300.12,400])
print(np.array(test))
print(type(np.array(test)))
print(test.values)
print(type(test.values))

[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>
[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

In [22]:
sr1 = pd.Series([["Red", "Green", "White"],["Red", "Black"],["Yellow"]])
print(sr1)
print(type(sr1))

print(sr1.apply(pd.Series).stack().reset_index(drop=True))

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
<class 'pandas.core.series.Series'>
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [32]:
sr2 = pd.Series(["100", "200", "python", "300.12", "400"])
new_series = pd.Series(sr2).sort_values()
print(new_series)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [39]:
sr2 = pd.Series(["100", "200", "python", "300.12", "400"])
new_series = pd.concat([s, pd.Series(["500", "php"])], ignore_index=True)
new_series

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [5]:
import pandas as pd
sr1 = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print(sr1)
print(sr1[:6])

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [11]:
s = pd.Series(data=[1,2,3,4,5], index=["A","B","C","D","E"])
s.reindex(index=["B","A","C","D","E"])

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [13]:
s = pd.Series([1,23,4,5,6,7,8,9,43,23])
s.mean()
s.std()

12.97390543445659

In [18]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
print(s1)
print(s2)
print(s1[~s1.isin(s2)])

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
2    3
4    5
dtype: int64

In [19]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
print(s1)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [27]:
import numpy as np
s11 = pd.Series(np.union1d(s1, s2))
s22 = pd.Series(np.intersect1d(s1, s2))

s11[~s11.isin(s22)]

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [37]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9,11,22,33,44,55,66])
print(f"Min is {s1.min()}")
print(f"Max is {s1.max()}")
print(f"The median is {s1.median()}")
print(f"The 25th percentile is {np.percentile(s1, q=25)}")
print(f"The 75th percentile is {np.percentile(s1, q=75)}")

Min is 1
Max is 66
The median is 8.0
The 25th percentile is 4.5
The 75th percentile is 27.5

In [5]:
import numpy as np
import pandas as pd
sr = pd.Series(np.arange(1, 40))

In [6]:
sr.value_counts()

1     1
30    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
31    1
21    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
22    1
20    1
2     1
10    1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
11    1
19    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
39    1
dtype: int64

In [26]:
sr1 = pd.Series([1,1,1,2,3,4,5,4,3,2,3,4,6,5,4,2,1,2,1,1,3,5,2])
sr1.value_counts(sort=True)
len(sr1)

23

In [27]:
for i, row in sr1.items():
    if sr1[i] != 1:
        sr1[i] = "Other"
    else:
        sr1[i] = sr1[i]

In [28]:
sr1

0         1
1         1
2         1
3     Other
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
15    Other
16        1
17    Other
18        1
19        1
20    Other
21    Other
22    Other
dtype: object

In [4]:
import pandas as pd
import numpy as np
sr2 = pd.Series([1,9,8,6,9,7,1,1,1])
divisible = []
for i, row in sr2.items():
    if (row % 5 == 0):
        divisible.append(i)
    else:
        divisible

print(divisible)

[]

In [8]:
sr1 = pd.Series(np.arange(1,30))
print(f"the item at positon 0 is {sr1[0]}")
print(f"the item at positon 2 is {sr1[2]}")
print(f"the item at positon 6 is {sr1[6]}")

the item at positon 0 is 1
the item at positon 2 is 3
the item at positon 6 is 7

In [27]:
sr1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
sr2 = pd.Series([1,3,5,7,10])

list1 = [pd.Index(sr1).get_loc(i) for i in sr2]
list1

[0, 2, 4, 6, 9]

In [35]:
sr1 = pd.Series(["php", "python", "java", "c#"])
list1 = [i[0].upper() +i[1:-1] + i[-1].upper() for i in sr1]
print(pd.Series(list1))

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [37]:
sr1 = pd.Series(["php", "python", "java", "c#"])
list1 = [len(i) for i in sr1]
print(pd.Series(list1))

0    3
1    6
2    4
3    2
dtype: int64

In [39]:
sr1 = pd.Series(["01 Jan 2015", "10-02-2016", "20180307", "2014/05/06", "2016-04-12", "2019-04-06T11:20"])
sr2 = pd.Series(pd.to_datetime(sr1))
sr2

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [74]:
day_of_month = []
day_of_year = []
week_number = []
day_of_week = []
day_of_month.append(pd.to_datetime(sr1).dt.day)
day_of_year.append(pd.to_datetime(sr1).dt.day_of_year)
day_of_week.append(pd.to_datetime(sr1).dt.day_name())
week_number.append(pd.to_datetime(sr1).dt.isocalendar().week)

In [75]:
week_number

[0     1
 1    39
 2    10
 3    19
 4    15
 5    14
 Name: week, dtype: UInt32]

In [ ]:
sr1 = pd.Series(["Jan 2015","Feb 2016","Mar 2017","Apr 2018","4May 2019"])